@media screen and (min-width: 480px) {
    
}


@media only screen and (max-width: 991px) {
    

}
@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 485px) {

    nav .navbar-brand {
      max-width: 70%;
    }

    nav img 
    {
        max-width: 100%;
    }

    .callButton
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #banner 
    {
        padding: 48px 0;
    }

    h1
    {
        font-size: 36px;
        text-align: center;
    }
    
    #banner p
    {
        font-size: 22px;
        text-align: center;
    }
    
    #banner ul
    {
        font-size: 16px;
    }
    
    .bannerCall
    {
        display: block;
        width: 100%;
    }

}




























