/*   
  font-family: "Noto Sans Bengali", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

/* 
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
*/

/* ============= Common css Start ============= */

:root
{
    --main: #023440;
    --secondery: #E0BE74;
    --dark: #625436;
    --light: #3B798C;
    --Xlight: #A2C3B6;
    --body: #f8f9fa;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

body
{
    background: var(--body);
}

h2
{
    font-family: "Noto Sans Bengali";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


h3 {
    font-family: "Noto Sans Bengali";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}


.--main
{
    color: var(--main);
}
.--secondery
{
    color: var(--secondery);
}
.--light
{
    color: var(--light);
}
.--dark
{
    color: var(--dark);
}
.--Xlight
{
    color: var(--Xlight);
}
.--body
{
    color: var(--body);
}

/* ============= Common css End ============= */

/* ============= Navber Start ============= */

header
{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--body);
    z-index: 999;
}

.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link 
{
    color: var(--main);
    text-align: center;
    font-family: "Noto Sans Bengali", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 12px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover
{
    /* color: var(--main); */
    -webkit-text-stroke: 0.5px var(--main);
}

.button
{
    border-radius: 15px;
    border: 2px solid var(--secondery);
    background: var(--main);
    padding: 12px 24px;
    color: var(--secondery);
    transition: all ease 0.4s;
}

.button:hover
{
    border: 2px solid var(--main);
    background: var(--secondery);
    color: var(--main);
}

/* ============= Navber End ============= */

/* ============= Banner Start ============= */

#banner 
{
    padding: 112px 0;
}

.bismillah
{
    width: 290px;
    height: 65px;
}

h1
{
    color: var(--main);
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#banner p
{
    color: var(--main);
    font-family: "Noto Sans Bengali";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#banner ul
{
    color: var(--main);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    list-style-type: disc;
    margin-bottom: 42px;
}

.bannerCall
{
    color: var(--secondery);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lineBox
{
    width: 100%;
    height: 65px;
    background: url('../images/line.svg');
}

/* ============= Banner End ============= */

/* ============= About Start ============= */


#about {
    padding: 100px 0;
    background: var(--main);
}

#about .container .left .left-a {
    column-gap: 20px;
    align-items: center;
}

#about .container .left .left-b {
    border-radius: 25px;
    background: url('../images/open.webp');
    background-size: cover;
    background-position: center;
    width: 348px;
    height: 440px;
}

#about .container .left .left-c {
    row-gap: 20px;
}

#about .container .left .left-d {
    border-radius: 25px;
    background: url('../images/rehal.webp');
    background-size: cover;
    background-position: center;
    width: 241px;
    height: 202px;
}

#about .container .left .left-e {
    border-radius: 25px;
    background: url('../images/quran.webp');
    background-size: cover;
    background-position: center;
    width: 201px;
    height: 320px;

}

#about .container .right p {
    color: var(--body);
    font-family: "Noto Sans Bengali";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 28px;
}
#about .container .right p span
{
    color: var(--secondery);
}

.aboutCall
{
    color: var(--secondery);
    text-align: center;    
    font-family: "Noto Sans Bengali";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ============= About End ============= */

/* ============= Servies Start ============= */

#servies
{
    padding: 86px 0;
}

#servies .card
{
    border-radius: 10px;
    background: #023440;
    border: 2px solid var(--secondery);
    overflow: hidden;
    transition: all ease 0.4s;
}

#servies .card:hover
{
    scale: 1.03;
}

#servies .card .text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 418px;
    padding: 36px;
}

#servies .card h4
{
    font-family: "Noto Sans Bengali";
    font-size: 26.789px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.719px; 
    margin-bottom: 20px;
}

#servies .card ul
{
    font-family: "Noto Sans Bengali";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.cardCall
{
    font-family: "Noto Sans Bengali";
    border-radius: 26.789px;
    border: 2px solid #E0BE74;
    color: #E0BE74;
    text-align: center;
    font-size: 20.092px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butn
{
    display: flex;
    justify-content: end;
}

/* ============= Servies End ============= */
















@media screen and (min-width: 480px) {
    
}


@media only screen and (max-width: 991px) {
    .callButton
    {
        width: 16%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }
    
}
@media only screen and (max-width: 767px) {
    .callButton
    {
        width: 30%;
        display: flex;
        justify-content: center;
    }
    
    
}

@media only screen and (max-width: 485px) {
    
    nav .navbar-brand {
        max-width: 70%;
    }
    
    nav img 
    {
        max-width: 100%;
    }
    
    .callButton
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #banner 
    {
        padding: 48px 0;
    }
    
    h1
    {
        font-size: 36px;
        text-align: center;
    }
    
    #banner p
    {
        font-size: 22px;
        text-align: center;
    }
    
    #banner ul
    {
        font-size: 16px;
    }
    
    .bannerCall
    {
        display: block;
        width: 100%;
    }

    h2
    {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
        line-height: 50px;
    }

    #about .container .right p {
        font-size: 16px;
    }

    #about .container .left .left-b {
        width: 200px;
        height: 254.742px;
    }
    
    #about .container .left .left-d {
        width: 138.506px;
        height: 116.95px;
    }
    
    #about .container .left .left-e {
        width: 115.517px;
        height: 185.267px;
    }

    
}

@media screen and (min-width: 1920px) {
    .lineBox
    {
        width: 100%;
    }

}
